.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  color: #000; /* Black text */
}

.storageInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

.storageInfo p {
  font-size: large;
  font-weight: 800;
  margin: 0; /* Remove default margin */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 300px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.card:hover {
  opacity: 0.7;
}

.checkButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff; /* White color for the button */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.addCard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 300px;
  margin: 20px;
  background-color: #3498db; /* Blue color */
  color: #fff; /* White text */
  font-size: 36px;
  border: 2px dashed #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.addCard:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}

.file {
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 100;
}

.icon {
  position: absolute;
}

.enlargedImageView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999; /* Set a high z-index value */
}

.enlargedImageView img {
  max-width: 100%;
  max-height: 100%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff; /* White color */
  background: none;
  border: none;
  padding: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust the width as needed */
}

.modalContent {
  text-align: center;
}

.previewImage {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.modal button {
  background-color: #3498db; /* Blue color for buttons */
  color: #fff; /* White text */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal button:last-child {
  background-color: crimson; /* Crimson color for the Cancel button */
}